/* 
#FFDB58
#FBB917 
Saffron
#6AFB92
Dragon Green

font-family: 'Merienda One', cursive;
*/

$fn_merienda: "Merienda One", cursive;
$fn_poppins: "Poppins", sans-serif;
$clr_Fade_white: #fcfafaee;
$clr_white: #ffffff;
$clr_Saffron: #ffca46;
$clr_Light_black: #000000ad;
$clr_mid_black: #000000da;
$clr_black: #000000;
$clr_header: #2e2d2d;
